body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(39, 174, 96);
  transition:all 3s
}
#quote-box {
  
  width: 540px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

#quote-box-child {
  background-color: white;

  border-radius: 5px;
  padding: 40px;
}
#text {
  padding-top: 10px;
  font-size: 30px;
  color: rgb(39, 174, 96);
  text-align: center;
    transition:all 3s
}
#author {
  text-align: end;
  color: rgb(39, 174, 96);

}
#social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#social a {
  padding: 10px 20px;
  background-color: rgb(39, 174, 96);
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}
#new-quote {
  padding: 10px 20px;
  color: white;
  background-color: rgb(39, 174, 96);
  border: none;
    border-radius: 3px;
    font-size: 15px;
}

.my-5{
  margin: 30px 0;
}

#creator{
  color: white;
  text-align: center;
}
